header {
	width: fit-content;
	margin-block: 2rem;
	padding: 1rem;
  border-image: url("../assets/images/PhotoFrame2.png") 50 / 35px;
	position: relative;
	left: 50%;
	translate: -50% 0;
}

header > p:nth-of-type(1) {
  color: #e4bb4e;
  font-size: 2.5rem;
  text-align: center;
}

header > p:nth-of-type(2) {
  font-size: 2rem;
	line-height: 2rem;
  text-align: center;
	background: linear-gradient(234deg, #FFF 11.87%, rgba(255, 255, 255, 0.22) 68.17%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.photo-container {
  width: 100vw;
	height: 1320rem;
	position: relative;
	margin-top: 5rem;
}

.photo-container .landing-menu {
  position: fixed;
	inset: 3rem auto auto 3rem;
  cursor: pointer;
	z-index: 1;
}

.photo-preview {
	position: absolute;
	inset: 0 50% auto auto;
	transform: translateX(50%);
	text-align: center;
	width: 90%;
	height: 20rem;
	background: none;
	cursor: pointer;
	border: none;
}
.photo-preview img {
	max-height: 100%;
	filter: grayscale(100%);
	transition: ease-in-out 200ms;
	border-image: url("../assets/images/PhotoFrame.png") 1 / 1px / 1rem;
}
.photo-preview img:hover {
	filter: none;
}
.photo-preview h2 {
	margin-top: 1.5rem;
	text-align: center;
	font-size: 4.5rem;
	font-weight: 500;
	background: linear-gradient(234deg, #FFF 11.87%, rgba(255, 255, 255, 0.22) 68.17%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.revoir {
	text-align: center;
	margin-bottom: 5rem;
}
.marquee {
	rotate: -3deg;
	margin-bottom: 5rem;
	z-index: -1;
}
.marquee-photo {
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	margin-right: 1rem;
}
.return-to-top {
	text-decoration: underline;
	color: #e4bb4e;
	font-size: 1.5rem;
}
