header {
	width: fit-content;
	margin-block: 2rem;
	padding: 1rem;
  border-image: url("../assets/images/PhotoFrame2.png") 50 / 35px;
	position: relative;
	left: 50%;
	translate: -50% 0;
}

header > p:nth-of-type(1) {
  color: #e4bb4e;
  font-size: 2.5rem;
  text-align: center;
}

header > p:nth-of-type(2) {
  font-size: 2rem;
	line-height: 2rem;
  text-align: center;
	background: linear-gradient(234deg, #FFF 11.87%, rgba(255, 255, 255, 0.22) 68.17%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.photo-container {
  width: 100vw;
	height: 750rem;
	position: relative;
	margin-top: 5rem;
}

.photo-container .landing-menu {
  position: fixed;
	inset: 3rem auto auto 3rem;
  cursor: pointer;
	z-index: 1;
}

.photo-preview {
	position: absolute;
	bottom: 0;
	background: black;
	cursor: pointer;
	border: none;
}
.photo-preview img {
	max-height: 20rem;
	max-width: 20rem;
	filter: grayscale(100%);
	transition: ease-in-out 200ms;
	border-image: url("../assets/images/PhotoFrame.png") 1 / 1px / 1rem;
}
.photo-preview:hover img {
	filter: none;
}
.photo-preview h2 {
	width: max-content;
	max-width: 35rem;
	position: absolute;
	font-size: 4.5rem;
	font-weight: 500;
	background: linear-gradient(170deg, #FFF 11.87%, rgba(255, 255, 255, 0.30) 68.17%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	text-align: left;
}

.revoir {
	text-align: center;
	margin-bottom: 5rem;
	overflow: hidden;
}
.marquee {
	rotate: -3deg;
	margin-bottom: 5rem;
	z-index: -1;
}
.marquee-photo {
	width: 15rem;
	height: 15rem;
	object-fit: cover;
	margin-right: 1rem;
}
.return-to-top {
	text-decoration: underline;
	color: #e4bb4e;
	font-size: 1.5rem;
}

/* june */
#blue-rose-2023 {
	inset: 0rem 50% auto auto;
	translate: calc(50% - 20rem) 0;
}

#qc-pride-march {
	inset: 25rem 50% auto auto;
	translate: calc(50% + 20rem) 0;
}
#qc-pride-march h2 {
	right: 0;
}

/* july */
#peoples-sona {
	inset: 70rem 50% auto auto;
	translate: calc(50% - 5rem) 0;
}

/* august */
#orsem-muli {
	inset: 130rem 50% auto auto;
	translate: calc(50% + 15rem) 0;
}
#orsem-muli h2 {
	top: auto;
	bottom: 105%;
	text-align: left;
}

#o-night {
	inset: 135rem 50% auto auto;
	translate: calc(50% - 15rem) 0;
}

/* september */
#coa-recweek {
	inset: 185rem 50% auto auto;
	translate: calc(50% - 20rem) 0;
}
#coa-recweek h2 {
	inset: -10% auto auto 102%;
}

#cheer-rally-2023 {
	inset: 190rem 50% auto auto;
	translate: calc(50% + 22rem) 0;
}
#cheer-rally-2023 h2 {
	text-align: right;
	right: 0;
}

#martial-law-commemoration {
	inset: 205rem 50% auto auto;
	translate: calc(50% - 18rem) 0;
}
#martial-law-commemoration h2 {
	inset: auto auto -15% 105%;
}

#ta-ardor {
	inset: 224rem 50% auto auto;
	translate: calc(50% - 14rem) 0;
}

#shippey-lecture {
	inset: 227rem 50% auto auto;
	translate: calc(50% + 18rem) 0;
}
#shippey-lecture h2 {
	text-align: right;
	right: 0;
}

/* october */
#talab {
	inset: 249rem 50% auto auto;
	translate: calc(50% - 18rem) 0;
}

#one-big-pride {
	inset: 250rem 50% auto auto;
	translate: calc(50% + 18rem) 0;
}

#sarita {
	inset: 268rem 50% auto auto;
	translate: calc(50% - 5rem) 0;
}
#sarita h2 {
	inset: auto auto -10% 103%;
}

#halloween-in-ateneo {
	inset: 289rem 50% auto auto;
	translate: calc(50% - 10rem) 0;
}
#halloween-in-ateneo h2 {
	inset: -40% 0 auto auto;
}

#bsk-elections {
	inset: 285rem 50% auto auto;
	translate: calc(50% + 18rem) 0;
}

/* november */
#lsogc-dog-parade {
	inset: 310rem 50% auto auto;
	translate: calc(50% - 22rem) 0;
}

#one-big-fight-with-palestine {
	inset: 313rem 50% auto auto;
	translate: calc(50% + 8rem) 0;
}
#one-big-fight-with-palestine h2 {
	inset: -40% -90% auto auto;
	text-align: right;
}

#piston-transport-strike {
	inset: 330rem 50% auto auto;
	translate: calc(50% + 15rem) 0;
}

#mvp-christmas-tree {
	inset: 340rem 50% auto auto;
	translate: calc(50% - 14rem) 0;
}
#mvp-christmas-tree h2 {
	inset: -35% auto auto -40%;
}

#multisectoral-mobilization-in-solidarity-with-palestine {
	inset: 360rem 50% auto auto;
	translate: calc(50% - 12rem) 0;
}
#multisectoral-mobilization-in-solidarity-with-palestine h2 {
	inset: -15% -180% auto auto;
}

/* december */
#north-car-park-project-mobilization {
	inset: 400rem 50% auto auto;
	translate: calc(50% - 12rem) 0;
}
#north-car-park-project-mobilization h2 {
	inset: -5% -180% auto auto;
}
