@font-face {
  font-family: "KT Projekt";
  src: url("./assets/fonts/KT Projekt Light.otf") format("opentype");
	font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "KT Projekt";
  src: url("./assets/fonts/KT Projekt Regular.otf") format("opentype");
	font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "KT Projekt";
  src: url("./assets/fonts/KT Projekt Medium.otf") format("opentype");
	font-weight: 500;
  font-style: normal;
}
